<div class="button-container">
  <button color="primary" mat-raised-button routerLink="/admin-panel/products/add" [title]='"Click here to add new user"'>
    <span class="material-icons">add_circle_outline</span>
    Add new product
  </button>
</div>


<mat-form-field style="padding-left: 2vh;">
  <mat-label>Filter <small>(press Enter to apply)</small></mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name:*EM,id>1">
</mat-form-field>

<div class="entity-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price</th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- AddressId Column -->
      <ng-container matColumnDef="restaurantId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant ID</th>
        <td mat-cell *matCellDef="let element">
          <a [title]="'Address details'" (click)="openRestaurantDetails(element.restaurantId)">
            {{element.restaurantId}}
          </a>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category</th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options</th>
        <td mat-cell *matCellDef="let element">
          <button [title]='"Edit " + element.name' mat-mini-fab [routerLink]="['/admin-panel/products/update', element.id]"
                  class="option-button" color="primary"
                  mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >edit
            </mat-icon>
          </button>
          <button [title]='"Delete " + element.name' mat-mini-fab (click)="deleteUser(element)" class="option-button"
                  color="warn" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                   [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                   showFirstLastButtons></mat-paginator>

  </div>
</div>
