<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Address details:</h1>
<mat-dialog-content>
  <div>
    <div class="container">
      <strong>ID: </strong>{{address.id}}
    </div>

    <div class="container">
      <strong>Country: </strong>{{address.country}}
    </div>

    <div class="container">
      <strong>City: </strong>{{address.city}}
    </div>

    <div class="container">
      <strong>Street: </strong>{{address.street}}
    </div>

    <div class="container">
      <strong>Building number: </strong>{{address.buildingNumber}}
    </div>

    <div class="container">
      <strong>Apartment number: </strong>{{address.apartmentNumber}}
    </div>

    <div class="container">
      <strong>Zip-code: </strong>{{address.zipCode}}
    </div>
  </div>
</mat-dialog-content>
