<div class="col-md-12">
  <div class="card card-container">

    <form (ngSubmit)="submitForm()" [formGroup]="editRestaurantForm" class="new-obj-form" id="register-form">
      <h1><i>Enter values below:</i></h1>
      <mat-form-field appearance="outline">

        <mat-label>Name</mat-label>
        <input formControlName="name" id="name" matInput maxlength="255" #nameInput>
        <mat-hint align="end">{{nameInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.name.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.name.errors.maxlength">
          Name is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.name.errors.required">
          Name is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [(value)]="editRestaurantForm.value.category">
          <mat-option *ngFor="let category of categories | keyvalue" [value]="category.key">
            {{category.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.category.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.category.errors.required">
          Category is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input formControlName="login" id="login" matInput maxlength="255" #loginInput>
        <mat-hint align="end">{{loginInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.login.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.login.errors.maxlength">
          Login is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.login.errors.required">
          Login is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" id="password" matInput maxlength="255" #passwordInput>
        <mat-hint align="end">{{passwordInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.password.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.password.errors.maxlength">
          Password is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.password.errors.required">
          Password is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" id="email" matInput maxlength="255" #emailInput>
        <mat-hint align="end">{{emailInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.email.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.email.errors.maxlength">
          Email is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.email.errors.required">
          Email is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input formControlName="phoneNumber" id="phoneNumber" matInput maxlength="9" #phoneNumberInput>
        <mat-hint align="end">{{phoneNumberInput.value?.length || 0}}/9</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.phoneNumber.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.phoneNumber.errors.maxlength">
          Phone number is too long (maximum is 9 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.phoneNumber.errors.required">
          Phone number is required
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Products</mat-label>
        <mat-select formControlName="products" multiple [(value)]="selectedProducts" [compareWith]="compareProducts">
          <mat-select-trigger>
            {{editRestaurantForm.value.products ? editRestaurantForm.value.products[0]?.name : '' }}
            <span *ngIf="editRestaurantForm.value.products?.length > 1">
              (+{{editRestaurantForm.value.products.length - 1}}
              {{editRestaurantForm.value.products?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let product of availableProducts" [value]="product">
            {{product.name}}
            <i><small>(ID: {{product.id}})</small></i>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h2><i>Address</i></h2>

      <mat-form-field appearance="outline">
        <mat-label>Country</mat-label>
        <input formControlName="country" id="country" matInput maxlength="255" #countryInput>
        <mat-hint align="end">{{countryInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.country.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.country.errors.maxlength">
          Country name is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.country.errors.required">
          Country is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input formControlName="city" id="city" matInput maxlength="255" #cityInput>
        <mat-hint align="end">{{cityInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.city.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.city.errors.maxlength">
          City is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.city.errors.required">
          City is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input formControlName="street" id="street" matInput maxlength="255" #streetInput>
        <mat-hint align="end">{{streetInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.street.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.street.errors.maxlength">
          Street is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.street.errors.required">
          Street is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Building number</mat-label>
        <input formControlName="buildingNumber" id="buildingNumber" matInput maxlength="255" #buildingNumberInput>
        <mat-hint align="end">{{buildingNumberInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.buildingNumber.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.buildingNumber.errors.maxlength">
          Building number is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.buildingNumber.errors.required">
          Building number is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Apartment number</mat-label>
        <input formControlName="apartmentNumber" id="apartmentNumber" matInput>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Zip-code</mat-label>
        <input formControlName="zipCode" id="zipCode" matInput maxlength="6" #zipCodeInput>
        <mat-hint align="end">{{zipCodeInput.value?.length || 0}}/6</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editRestaurantForm.controls.zipCode.errors"
           class="invalid-feedback">
        <div *ngIf="editRestaurantForm.controls.zipCode.errors.maxlength">
          Zip-code name is too long (maximum is 6 characters)
        </div>
        <div *ngIf="editRestaurantForm.controls.zipCode.errors.required">
          Zip-code is required
        </div>
      </div>

      <div class="button-container">
        <button style="float: left; margin-left: 20px;" color="primary" mat-mini-fab (click)="goBack()">
          <span class="material-icons">arrow_back</span>
        </button>
        <button style="float: right; margin-right: 20px;" color="accent" mat-raised-button type="submit">
          Update Restaurant
        </button>
      </div>

    </form>

  </div>
</div>
