<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Restaurant details:</h1>
<mat-dialog-content>
  <div>
    <div class="container">
      <strong>ID: </strong>{{restaurant.id}}
    </div>

    <div class="container">
      <strong>Name: </strong>{{restaurant.name}}
    </div>

    <div class="container">
      <strong>Category: </strong>{{restaurant.category}}
    </div>

    <div class="container">
      <strong>Address: </strong>{{restaurant.address}}
    </div>

    <div class="container">
      <strong>Phone number: </strong>{{restaurant.phoneNumber}}
    </div>

    <div class="container">
      <strong>Email: </strong>{{restaurant.email}}
    </div>

    <div class="container">
      <strong>Login: </strong>{{restaurant.login}}
    </div>

    <div class="container">
      <strong>Password: </strong>{{restaurant.password}}
    </div>

    <div class="container">
      <strong>Products: </strong>{{restaurant.products}}
    </div>

  </div>
</mat-dialog-content>
