<div class="button-container">
  <button color="primary" mat-raised-button routerLink="/admin-panel/users/add" [title]='"Click here to add new user"'>
    <span class="material-icons">add_circle_outline</span>
    Add new user
  </button>
</div>


<mat-form-field style="padding-left: 2vh;">
  <mat-label>Filter <small>(press Enter to apply)</small></mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name:*EM,id>1">
</mat-form-field>

<div class="entity-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Second name Column -->
      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Second Name</th>
        <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
      </ng-container>

      <!-- Login Column -->
      <ng-container matColumnDef="login">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Login</th>
        <td mat-cell *matCellDef="let element"> {{element.login}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <!-- AddressId Column -->
      <ng-container matColumnDef="addressId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address ID</th>
        <td mat-cell *matCellDef="let element">
          <a [title]="'Address details'" (click)="openAddressDetails(element.address)">
            {{element.address.id}}
          </a>
        </td>
      </ng-container>

      <!-- Phone number Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number</th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options</th>
        <td mat-cell *matCellDef="let element">
          <button [title]='"Edit " + element.name' mat-mini-fab [routerLink]="['/admin-panel/users/update', element.id]"
                  class="option-button" color="primary"
                  mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >edit
            </mat-icon>
          </button>
          <button [title]='"Delete " + element.name' mat-mini-fab (click)="deleteUser(element)" class="option-button"
                  color="warn" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                   [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                   showFirstLastButtons></mat-paginator>

  </div>
</div>
