<div class="button-container">
  <button color="primary" mat-raised-button routerLink="/admin-panel/orders/add" [title]='"Click here to add new user"'>
    <span class="material-icons">add_circle_outline</span>
    Add new order
  </button>
</div>


<mat-form-field style="padding-left: 2vh;">
  <mat-label>Filter <small>(press Enter to apply)</small></mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. name:*EM,id>1">
</mat-form-field>

<div class="entity-table">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          ID
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Comment Column -->
      <ng-container matColumnDef="orderComment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Comment</th>
        <td mat-cell *matCellDef="let element"> {{element.orderComment}} </td>
      </ng-container>

      <!-- User ID Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID</th>
        <td mat-cell *matCellDef="let element">
          <a [title]="'User details'" (click)="openUserDetails(element.userId)">
            {{element.userId}}
          </a>
        </td>
      </ng-container>
A
      <!-- Products Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef> Products</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!productsMap.get(element.id)">
            <button *ngIf="element.products.length > 0" (click)="getProductsByOrderId(element.id)" class="option-button"
                    color="accent"
                    mat-icon-button>
              <i>Show products</i>
            </button>
          </div>
          <div *ngIf="productsMap.get(element.id)">
            <button (click)="hideProduct(element.id)"
                    style="margin: 0px;"
                    color="accent"
                    mat-icon-button>
              <i>Hide products</i>
            </button>
            <ul>
              <div *ngFor="let product of element.products">

                <a [title]="product.name + ' details'" (click)="openProductDetails(product)">
                  <li><i>{{product.name}} <small>(ID: {{product.id}})</small></i></li>
                </a>
              </div>
            </ul>
          </div>
        </td>
      </ng-container>

      <!-- Order Status Column -->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Status</th>
        <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
      </ng-container>

      <!-- Options Column -->
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef> Options</th>
        <td mat-cell *matCellDef="let element">
          <button [title]='"Edit " + element.name' mat-mini-fab [routerLink]="['/admin-panel/orders/update', element.id]"
                  class="option-button" color="primary"
                  mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >edit
            </mat-icon>
          </button>
          <button [title]='"Delete " + element.name' mat-mini-fab (click)="deleteOrder(element)" class="option-button"
                  color="warn" mat-raised-button>
            <mat-icon fontSet="material-icons-outlined" matSuffix
            >delete
            </mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>

    </table>
    <mat-paginator #paginator (page)="pageEvent = refreshData($event)" [length]="page.totalElements"
                   [pageIndex]="page.number" [pageSizeOptions]="[5, 10, 20, 50]" [pageSize]="page.size"
                   showFirstLastButtons></mat-paginator>

  </div>
</div>
