<mat-grid-list cols="2" rowHeight="3:1">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <h1>Users panel</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-button [routerLink]="'/admin-panel/users'" color="accent">GO TO USERS PANEL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <h1>Products panel</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-button [routerLink]="'/admin-panel/products'" color="accent">GO TO PRODUCTS PANEL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <h1>Restaurants panel</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-button [routerLink]="'/admin-panel/restaurants'" color="accent">GO TO RESTAURANTS PANEL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <h1>Orders panel</h1>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
      </mat-card-content>
      <mat-card-actions style="text-align: center">
        <button mat-button [routerLink]="'/admin-panel/orders'" color="accent">GO TO ORDERS PANEL</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
