<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">
      <mat-icon>info</mat-icon>
      <span routerLink="/about">About</span>
    </button>
    <button mat-menu-item routerLink="/admin-panel">
      <mat-icon>admin_panel_settings</mat-icon>
      <span>Admin panel</span>
    </button>
  </mat-menu>


  <span class="mat-tab-nav-bar" routerLink="">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>KUBSON EATS
  </span>
  <span class="example-spacer"></span>
  <span class="mat-tab-nav-bar" routerLink="register">
    <span class="material-icons">group_add</span>
    Sign Up
  </span>

  <span class="example-spacer"></span>
  <span class="mat-tab-nav-bar" routerLink="login">
    <mat-icon aria-hidden="false" aria-label="Login icon">login</mat-icon>
    Login
  </span>
</mat-toolbar>
