<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Product details:</h1>
<mat-dialog-content>
  <div>
    <div class="container">
      <strong>ID: </strong>{{product.id}}
    </div>

    <div class="container">
      <strong>Name: </strong>{{product.name}}
    </div>

    <div class="container">
      <strong>Price: </strong>{{product.price}}
    </div>

    <div class="container">
      <strong>Description: </strong>{{product.description}}
    </div>

    <div class="container">
      <strong>Restaurant ID: </strong>{{product.restaurantId}}
    </div>

    <div class="container">
      <strong>Position: </strong>{{product.position}}
    </div>

    <div class="container">
      <strong>Category: </strong>{{product.category}}
    </div>

  </div>
</mat-dialog-content>
