<div class="col-md-12">
  <div class="card card-container">

    <form (ngSubmit)="submitForm()" [formGroup]="editProductForm" class="new-obj-form" id="register-form">
      <h1><i>Enter values below:</i></h1>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" id="name" matInput maxlength="255" #nameInput>
        <mat-hint align="end">{{nameInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.name.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.name.errors.maxlength">
          Name is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editProductForm.controls.name.errors.required">
          Name is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input formControlName="description" id="description" matInput maxlength="255" #descriptionInput>
        <mat-hint align="end">{{descriptionInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.description.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.description.errors.maxlength">
          Description is too long (maximum is 255 characters)
        </div>
        <div *ngIf="editProductForm.controls.description.errors.required">
          Description is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input formControlName="price" id="price" matInput>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.price.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.price.errors.required">
          Price is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Restaurant ID</mat-label>
        <mat-select formControlName="restaurantId" [(value)]="editProductForm.value.restaurantId">
          <mat-option *ngFor="let restaurant of availableRestaurants" [value]="restaurant.id">
            {{restaurant.name}}
            <i><small>(ID: {{restaurant.id}})</small></i>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.restaurantId.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.restaurantId.errors.required">
          Restaurant ID is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Position</mat-label>
        <input formControlName="position" id="position" matInput>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.position.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.position.errors.required">
          Position is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" [(value)]="editProductForm.value.category">
          <mat-option *ngFor="let category of categories | keyvalue" [value]="category.key">
            {{category.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editProductForm.controls.category.errors"
           class="invalid-feedback">
        <div *ngIf="editProductForm.controls.category.errors.required">
          Category is required
        </div>
      </div>

      <div class="button-container">
        <button style="float: left; margin-left: 20px;" color="primary" mat-mini-fab (click)="goBack()">
          <span class="material-icons">arrow_back</span>
        </button>
        <button style="float: right; margin-right: 20px;" color="accent" mat-raised-button type="submit">
          Update product
        </button>
      </div>

    </form>

  </div>
</div>
