<div class="col-md-12">
  <div class="card card-container">

    <form (ngSubmit)="submitForm()" [formGroup]="editOrderForm" class="new-obj-form" id="register-form">
      <h1><i>Enter values below:</i></h1>
      <mat-form-field appearance="outline">

        <mat-label>Comment</mat-label>
        <input formControlName="orderComment" id="orderComment" matInput maxlength="255" #orderCommentInput>
        <mat-hint align="end">{{orderCommentInput.value?.length || 0}}/255</mat-hint>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editOrderForm.controls.orderComment.errors"
           class="invalid-feedback">
        <div *ngIf="editOrderForm.controls.orderComment.errors.maxlength">
          Comment is too long (maximum is 255 characters)
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Order status</mat-label>
        <mat-select formControlName="orderStatus" [(value)]="editOrderForm.value.orderStatus">
          <mat-option *ngFor="let orderStatus of orderStatus | keyvalue" [value]="orderStatus.key">
            {{orderStatus.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editOrderForm.controls.userId.errors"
           class="invalid-feedback">
        <div *ngIf="editOrderForm.controls.userId.errors.required">
          Order status is required
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>User ID</mat-label>
        <mat-select formControlName="userId" id="userId" [(value)]="editOrderForm.value.userId">
          <mat-option *ngFor="let user of availableUsers" [value]="user.id">
            {{user.name}}
            <i><small>(ID: {{user.id}})</small></i>
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div *ngIf="isFormSubmitted && editOrderForm.controls.userId.errors"
           class="invalid-feedback">
        <div *ngIf="editOrderForm.controls.userId.errors.required">
          User ID is required
        </div>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Products</mat-label>
        <mat-select formControlName="products" multiple [(value)]="editOrderForm.value.products" [compareWith]="compareProducts">>
          <mat-select-trigger>
            {{editOrderForm.value.products ? editOrderForm.value.products[0]?.name : '' }}
            <span *ngIf="editOrderForm.value.products?.length > 1">
              (+{{editOrderForm.value.products.length - 1}}
              {{editOrderForm.value.products?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let product of availableProducts" [value]="product">
            {{product.name}}
            <i><small>(ID: {{product.id}})</small></i>
          </mat-option>
        </mat-select>
        <div *ngIf="isFormSubmitted && editOrderForm.controls.products.errors"
             class="invalid-feedback">
          <div *ngIf="editOrderForm.controls.products.errors.required">
            You have to select at least 1 product
          </div>
        </div>
      </mat-form-field>

      <div class="button-container">
        <button style="float: left; margin-left: 20px;" color="primary" mat-mini-fab (click)="goBack()">
          <span class="material-icons">arrow_back</span>
        </button>
        <button style="float: right; margin-right: 20px;" color="accent" mat-raised-button type="submit">
          Update Restaurant
        </button>
      </div>

    </form>

  </div>
</div>
