/* You can add global styles to this file, and also import other style files */

html {
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
}

body {
  height: auto;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  width: 100%;
}

router-outlet {
  margin: 2vh;
}

.entity-table {
  margin-right: 20px;
  margin-left: 20px;
}

.card-container.card {
  max-width: 700px;
  padding: 40px 40px;
}

.card {
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 30px 54px 0px rgba(0,0,0,0.3);
}

.button-container {
  text-align: center;
  padding-top: 16px;
  height: auto;
}

.invalid-feedback {
  font-size: 16px;
  color: #f80707;
  margin-bottom: 16px;
  text-align: left;
}

.new-obj-form {
  width: 100%;
  text-align: center;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button:hover {
  cursor: pointer;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

span.mat-option-text {
  color: white;
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  background: #69f0ae;
}
