<button id="close-button" mat-mini-fab class="option-button" color="warn" mat-icon-button (click)="closeDialog()">
  <mat-icon fontSet="material-icons-outlined" matSuffix
  >clear
  </mat-icon>
</button>
<h1 mat-dialog-title>Restaurant details:</h1>
<mat-dialog-content>
  <div>
    <div class="container">
      <strong>ID: </strong>{{user.id}}
    </div>

    <div class="container">
      <strong>Name: </strong>{{user.name}}
    </div>

    <div class="container">
      <strong>Second name: </strong>{{user.secondName}}
    </div>

    <div class="container">
      <strong>E-mail: </strong>{{user.email}}
    </div>

    <div class="container">
      <strong>Address: </strong>{{user.address}}
    </div>

    <div class="container">
      <strong>Phone number: </strong>{{user.phoneNumber}}
    </div>

    <div class="container">
      <strong>Login: </strong>{{user.login}}
    </div>

    <div class="container">
      <strong>Password: </strong>{{user.password}}
    </div>

  </div>
</mat-dialog-content>
