<h2>Do you want to {{data.message}}?</h2>
<mat-dialog-actions align="center">
  <button mat-button [mat-dialog-close]="true" color="warn">YES</button>
  <button mat-button [mat-dialog-close]="false" color="accent">NO</button>
</mat-dialog-actions>
